.diagramItem {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);

  border-radius: 50%;
  border: 1px solid rgba(var(--color-line), 0.2);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  .pointWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.5s ease-in-out;

    .pointButton {
      position: relative;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: transparent;
      border: none;
      cursor: pointer;

      .pointСircle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(var(--color-line), 1);
        border: 1px solid rgba(var(--color-line), 0.2);
        transform-origin: center;
        transform: translate(-50%, -50%) scale(0.138);
        transition:
          transform 0.3s ease-in-out,
          background 0.3s ease-in-out;
      }

      .pointNumber {
        position: absolute;
        display: flex;
        color: rgba(var(--color-line), 1);
        font-size: 24px;
        font-weight: 600;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease-in-out;
      }

      &.active {
        .pointСircle {
          background: #fff;
          transform: translate(-50%, -50%) scale(1);
        }
        .pointNumber {
          opacity: 1;
        }
      }

      &:hover {
        .pointСircle {
          background: #fff;
          transform: translate(-50%, -50%) scale(1);
        }
        .pointNumber {
          opacity: 1;
        }
      }
    }

    .pointTitle {
      margin: 0;
      position: absolute;
      color: rgba(var(--color-line), 1);
      font-size: 24px;
      font-weight: 700;
      opacity: 0;
      top: 50%;
      left: calc(100% + 20px);
      transform: translateY(-50%);

      &.active {
        animation: visible 0.4s ease-in-out 0.6s forwards;
      }
    }
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
